/* 개별 애니메이션 소개 페이지 css 파일*/
@font-face{font-family:'pretty';
    src: url('../../assets/강원교육현옥샘.ttf') format('truetype');}
*{font-family:'pretty';
font-size:23px;}
html, body{width: 100%; height: 100%; white-space: nowrap;}
body{background-color: rgb(3, 1, 39); color: white;}
h1{font-size:40px;}

ul{letter-spacing: 40px;
    border-top : 1px solid white;
    border-bottom : 1px solid white;
    padding-top: 20px; padding-bottom: 20px; color: white;
}
li.big{font-size:40px;}
li{display: inline; letter-spacing: 10px; font-size:22px; }
a {text-decoration-line: none; color: white;}
a:hover {font-weight: bold;} 

.bar{letter-spacing: 40px;
    border-top : 1px solid white;
    border-bottom : 1px solid white;
    padding-top: 20px; padding-bottom: 20px;
    color: white;}
#big{font-size:40px;}
.bar li{display: inline;
    letter-spacing: 10px;
    font-size:25px;}
.bar a {text-decoration-line: none; color: white;}
a:hover {font-weight: bold;}


#intro{
    position:absolute;
    top:250px;
    left:40px;
    float:left;
    width:300px;
    height:400px;
    margin:50px;
    margin-top:0px;
    margin-bottom:0px;
}

#info{
    position:absolute;
    top:250px;
    left: 500px;
    border-left:2px solid white;
    padding-left:5px;
}
#content{position:absolute;
    top: 380px;
    left: 500px;
    float:left;
    text-align:left;
    margin-left:0;
}
.genre{position:absolute;
    top:650px;
    left:40px;
    clear:both;
}        
.genre li{
    letter-spacing:3px;
    list-style-type:none;
    display:inline;
    padding:20px;
}
#ott{float:left;}
span{font-size:20pt;}
h1{
    position:absolute;
    top:150px;
    left:90px;
}
p{
    position:absolute;
    top:200px;
    left:90px;
}

ul.genre{letter-spacing:3px;
    list-style-type:none;
    display:inline;
    margin-left:30px;
    padding:20px;
    padding-top:10px;
}

#ott{
    position:absolute;
    top: 100px;
    left:-40px;
}
footer{
    position: absolute;
    left: 400px;
    top: 850px;
    color:white;
    width:100%;
    padding:10px;
    font-size:27px;
}
button{position:fixed; bottom: 30px; right: 30px; background-color:rgb(3, 1, 39); color: white; border: 1px solid white; z-index: 100; font-size: 30px;}
button:hover{font-weight:bold; cursor: pointer;} /*다크 모드 버튼*/