/*각 장르 소개 페이지들의 css 파일*/
@font-face{font-family:'pretty';
    src: url('../../assets/강원교육현옥샘.ttf') format('truetype');}
*{font-family:'pretty';
font-size:23px;}


body {background-color: rgb(3, 1, 39);} /*main, 스즈메와 다른 배경색. figma의 배경색을 기준으로 함.*/

ul{letter-spacing: 40px;
    border-top : 1px solid white;
    border-bottom : 1px solid white;
    padding-top: 20px; padding-bottom: 20px;
    color: white;}
li.big{font-size:40px;}
li{display: inline;
    letter-spacing: 10px;
    font-size:25px;}
a {text-decoration-line: none; color: white;}
a:hover {font-weight: bold;} 


h1 {padding-left: 40px; font-size: 40px; font-weight: bold; color: white; padding-right: 40px; float: left;}
button { background-color: rgb(3, 1, 39); border: none; color: white; margin-top: 40px; font-size: 30px;}

section {clear: both; padding: 40px; text-align: center;}
img {width: 300px; height: 450px; padding: 20px;}

img:hover{border:1px solid white;
    border-bottom:0
    }
table {position: absolute; visibility: hidden; top: 132px; left: 270px;}

button:hover{font-weight:bold;}
         
