/* 이미지 위치 설정*/
#sec{position: absolute;}
#img1{position: absolute;
left: 25px;
top: 250px;}
#img2{position: absolute;
left: 365px;
top: 250px;}
#img3{position: absolute;
left: 705px;
top: 250px;}
#img4{position: absolute;
left: 1045px;
top: 250px;}
#img5{position: absolute;
left: 25px;
top: 760px;}
#img6{position: absolute;
left: 365px;
top: 760px;}
#img7{position: absolute;
left: 705px;
top: 760px;}
#img8{position: absolute;
left: 1045px;
top: 760px;}
#img9{position:absolute;
left: 25px;
top: 1270px;}
#img10{position:absolute;
left: 365px;
top: 1270px;}
#img11{position:absolute;
left: 705px;
top: 1270px;}
#img12{position:absolute;
left: 1045px;
top: 1270px;} 